@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-family: "Poppins";
}

#ueber-content {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#ueber-content p {
  grid-row: 1;
  text-align: justify;
}

#horst-img {
  grid-row: 2;
  filter: grayscale(100%);
  width: 25rem;
}

#reiner-img {
  grid-row: 2;
  width: 28rem;
}

#text-papa {
  padding-left: 1.5rem;
  font-size: xx-large;
}

#AGWPicon {
  width: 80%;
  height: auto;
}

.navigation {
  height: 70px;
  background: #fff;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #181818;
  text-decoration: none;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 10px 20px 0 20px;
  line-height: 50px;
  background: #fff;
  color: #181818;
  text-decoration: none;
  font-size: large;
}
nav ul li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #53565B;
  width: 0%;
  bottom: 0px;
}
nav ul li a:hover::before {
  width: 70%;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 799px) {
  .Start-text {
    padding: 1.5rem;
    padding-top: 2.5rem;
  }
  .Kontakt {
    border-radius: 4%;
  }
  .Singular-Contact {
    padding-bottom: 2rem;
  }
  .Kontakt h1 {
    padding-left: 1.5rem;
    font-size: xx-large;
  }
  .Kontakt p {
    padding-left: 0.5rem;
  }
  .Kontakt ul {
    padding-left: 1.5rem;
    list-style-type: none;
  }
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li a:hover::before {
    width: 20%;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 29px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #181818;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
  .Start-text {
    width: 50%;
    padding: 1.5rem;
    padding-top: 2.5rem;
  }
  .main-page-content {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    display: flex;
    padding-left: 1.5rem;
  }
  .Kontakt {
    padding-top: 2.5rem;
  }
  .Singular-Contact {
    flex-basis: 50%;
    padding-bottom: 2rem;
  }
  .Kontakt p {
    padding-left: 0.5rem;
  }
  .Kontakt ul {
    padding-left: 1.5rem;
    list-style-type: none;
  }
}

/*# sourceMappingURL=style.css.map */
