$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #fff;
$main-color: #181818;
$nav-font-color: $main-color;
$second-color: #53565b;

.Contact-Main-Body {
  font-size: large;
  padding-top: 2rem;
  max-width: $content-width;
  position: relative;
  margin: 0 auto;
  display: grid;
  padding-left: 1.5rem;
  grid-template-columns: 1.7fr 1fr;
  grid-template-rows: 0.3fr 1fr;
}

.Contact-Main-Body h1 {
  grid-column: 1;
  text-align: left;
}

.Contact-Main-Body section {
  grid-row: 2;
  grid-column: 1;
}

@media only screen and (max-width: $breakpoint) {
  .Contact-Main-Body section {
    grid-row: 2;
    grid-column: 1/-1;
  }

  .Contact-Main-Body {
    font-size: larger;
  }
}
